//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 03 23:54:54 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "bb1" LOCATE = SITE "P99" LEVEL 1;
COMP "bb2" LOCATE = SITE "P101" LEVEL 1;
COMP "by1" LOCATE = SITE "P111" LEVEL 1;
COMP "by2" LOCATE = SITE "P104" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "bb1_led" LOCATE = SITE "P100" LEVEL 1;
COMP "bb2_led" LOCATE = SITE "P102" LEVEL 1;
COMP "by1_led" LOCATE = SITE "P112" LEVEL 1;
COMP "by2_led" LOCATE = SITE "P105" LEVEL 1;
COMP "add_led" LOCATE = SITE "P74" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_seg[0]" LOCATE = SITE "P1" LEVEL 1;
COMP "io_seg[1]" LOCATE = SITE "P2" LEVEL 1;
COMP "io_seg[2]" LOCATE = SITE "P5" LEVEL 1;
COMP "io_seg[3]" LOCATE = SITE "P6" LEVEL 1;
COMP "io_seg[4]" LOCATE = SITE "P7" LEVEL 1;
COMP "io_seg[5]" LOCATE = SITE "P8" LEVEL 1;
COMP "io_seg[6]" LOCATE = SITE "P9" LEVEL 1;
COMP "io_sel[0]" LOCATE = SITE "P11" LEVEL 1;
COMP "io_sel[1]" LOCATE = SITE "P12" LEVEL 1;
COMP "io_sel[2]" LOCATE = SITE "P14" LEVEL 1;
COMP "io_sel[3]" LOCATE = SITE "P16" LEVEL 1;
COMP "io_sel[4]" LOCATE = SITE "P15" LEVEL 1;
COMP "io_sel[5]" LOCATE = SITE "P17" LEVEL 1;
COMP "io_sel[6]" LOCATE = SITE "P21" LEVEL 1;
COMP "io_sel[7]" LOCATE = SITE "P22" LEVEL 1;
COMP "mul_led" LOCATE = SITE "P80" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
PIN Maddsub_M_p1_tens_q[9]_PWR_1_o_MuLt_7_OUT_pins<92> = BEL
        "Maddsub_M_p1_tens_q[9]_PWR_1_o_MuLt_7_OUT" PINNAME CLK;
PIN Maddsub_n0191_pins<92> = BEL "Maddsub_n0191" PINNAME CLK;
PIN Maddsub_n0187_pins<92> = BEL "Maddsub_n0187" PINNAME CLK;
PIN Maddsub_n0188_pins<92> = BEL "Maddsub_n0188" PINNAME CLK;
PIN Maddsub_M_p2_tens_q[9]_PWR_1_o_MuLt_13_OUT_pins<92> = BEL
        "Maddsub_M_p2_tens_q[9]_PWR_1_o_MuLt_13_OUT" PINNAME CLK;
TIMEGRP clk = BEL "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" PIN
        "Maddsub_M_p1_tens_q[9]_PWR_1_o_MuLt_7_OUT_pins<92>" BEL
        "M_p2_hundreds_q_0" BEL "M_p2_hundreds_q_1" BEL "M_startcd_q_0" BEL
        "M_p2_hundreds_q_2" BEL "M_p2_hundreds_q_3" BEL "M_p1_tens_q_0" BEL
        "M_p1_tens_q_1" BEL "M_p1_tens_q_2" BEL "M_p1_tens_q_3" PIN
        "Maddsub_n0191_pins<92>" PIN "Maddsub_n0187_pins<92>" PIN
        "Maddsub_n0188_pins<92>" BEL "countdown/M_ctr_q_28" BEL
        "countdown/M_ctr_q_27" BEL "countdown/M_ctr_q_26" BEL
        "countdown/M_ctr_q_25" BEL "countdown/M_ctr_q_24" BEL
        "countdown/M_ctr_q_23" BEL "countdown/M_ctr_q_22" BEL
        "countdown/M_ctr_q_21" BEL "countdown/M_ctr_q_20" BEL
        "countdown/M_ctr_q_19" BEL "countdown/M_ctr_q_18" BEL
        "countdown/M_ctr_q_17" BEL "countdown/M_ctr_q_16" BEL
        "countdown/M_ctr_q_15" BEL "countdown/M_ctr_q_14" BEL
        "countdown/M_ctr_q_13" BEL "countdown/M_ctr_q_12" BEL
        "countdown/M_ctr_q_11" BEL "countdown/M_ctr_q_10" BEL
        "countdown/M_ctr_q_9" BEL "countdown/M_ctr_q_8" BEL
        "countdown/M_ctr_q_7" BEL "countdown/M_ctr_q_6" BEL
        "countdown/M_ctr_q_5" BEL "countdown/M_ctr_q_4" BEL
        "countdown/M_ctr_q_3" BEL "countdown/M_ctr_q_2" BEL
        "countdown/M_ctr_q_1" BEL "countdown/M_ctr_q_0" BEL
        "all_segs/ctr/M_ctr_q_0" BEL "all_segs/ctr/M_ctr_q_1" BEL
        "all_segs/ctr/M_ctr_q_2" BEL "all_segs/ctr/M_ctr_q_3" BEL
        "all_segs/ctr/M_ctr_q_4" BEL "all_segs/ctr/M_ctr_q_5" BEL
        "all_segs/ctr/M_ctr_q_6" BEL "all_segs/ctr/M_ctr_q_7" BEL
        "all_segs/ctr/M_ctr_q_8" BEL "all_segs/ctr/M_ctr_q_9" BEL
        "all_segs/ctr/M_ctr_q_10" BEL "all_segs/ctr/M_ctr_q_11" BEL
        "all_segs/ctr/M_ctr_q_12" BEL "all_segs/ctr/M_ctr_q_13" BEL
        "all_segs/ctr/M_ctr_q_14" BEL "all_segs/ctr/M_ctr_q_15" BEL
        "all_segs/ctr/M_ctr_q_16" BEL "all_segs/ctr/M_ctr_q_17" BEL
        "all_segs/ctr/M_ctr_q_18" BEL "M_buttony1_q_0" BEL "by1_e/M_last_q"
        BEL "bb1_conditioner/M_ctr_q_0" BEL "bb1_conditioner/M_ctr_q_1" BEL
        "bb1_conditioner/M_ctr_q_2" BEL "bb1_conditioner/M_ctr_q_3" BEL
        "bb1_conditioner/M_ctr_q_4" BEL "bb1_conditioner/M_ctr_q_5" BEL
        "bb1_conditioner/M_ctr_q_6" BEL "bb1_conditioner/M_ctr_q_7" BEL
        "bb1_conditioner/M_ctr_q_8" BEL "bb1_conditioner/M_ctr_q_9" BEL
        "bb1_conditioner/M_ctr_q_10" BEL "bb1_conditioner/M_ctr_q_11" BEL
        "bb1_conditioner/M_ctr_q_12" BEL "bb1_conditioner/M_ctr_q_13" BEL
        "bb1_conditioner/M_ctr_q_14" BEL "bb1_conditioner/M_ctr_q_15" BEL
        "bb1_conditioner/M_ctr_q_16" BEL "bb1_conditioner/M_ctr_q_17" BEL
        "bb1_conditioner/M_ctr_q_18" BEL "bb1_conditioner/M_ctr_q_19" BEL
        "bb1_conditioner/sync/M_pipe_q_1" BEL
        "bb1_conditioner/sync/Mshreg_M_pipe_q_1" BEL "by2_e/M_last_q" BEL
        "M_buttonb2_q_0" BEL "M_state_q_FSM_FFd1" BEL "M_state_q_FSM_FFd3" BEL
        "bb2_conditioner/M_ctr_q_0" BEL "bb2_conditioner/M_ctr_q_1" BEL
        "bb2_conditioner/M_ctr_q_2" BEL "bb2_conditioner/M_ctr_q_3" BEL
        "bb2_conditioner/M_ctr_q_4" BEL "bb2_conditioner/M_ctr_q_5" BEL
        "bb2_conditioner/M_ctr_q_6" BEL "bb2_conditioner/M_ctr_q_7" BEL
        "bb2_conditioner/M_ctr_q_8" BEL "bb2_conditioner/M_ctr_q_9" BEL
        "bb2_conditioner/M_ctr_q_10" BEL "bb2_conditioner/M_ctr_q_11" BEL
        "bb2_conditioner/M_ctr_q_12" BEL "bb2_conditioner/M_ctr_q_13" BEL
        "bb2_conditioner/M_ctr_q_14" BEL "bb2_conditioner/M_ctr_q_15" BEL
        "bb2_conditioner/M_ctr_q_16" BEL "bb2_conditioner/M_ctr_q_17" BEL
        "bb2_conditioner/M_ctr_q_18" BEL "bb2_conditioner/M_ctr_q_19" BEL
        "bb2_conditioner/sync/M_pipe_q_1" BEL
        "bb2_conditioner/sync/Mshreg_M_pipe_q_1" BEL "score/M_score1_q_0" BEL
        "score/M_score1_q_1" BEL "score/M_score1_q_2" BEL "score/M_score1_q_3"
        BEL "score/M_score1_q_4" BEL "score/M_score1_q_5" BEL
        "score/M_score1_q_6" BEL "score/M_score1_q_7" BEL "score/M_score1_q_8"
        BEL "score/M_score1_q_9" BEL "score/M_score1_q_10" BEL
        "score/M_nextTime_q_0" BEL "score/M_nextTime_q_1" BEL
        "score/M_nextTime_q_2" BEL "score/M_nextTime_q_3" BEL
        "score/M_nextTime_q_4" BEL "score/M_nextTime_q_5" BEL
        "score/M_nextTime_q_6" BEL "score/M_nextTime_q_7" BEL
        "score/M_score2_q_0" BEL "score/M_score2_q_1" BEL "score/M_score2_q_2"
        BEL "score/M_score2_q_3" BEL "score/M_score2_q_4" BEL
        "score/M_score2_q_5" BEL "score/M_score2_q_6" BEL "score/M_score2_q_7"
        BEL "score/M_score2_q_8" BEL "score/M_score2_q_9" BEL
        "score/M_score2_q_10" BEL "score/M_state_q" BEL "score/rand/M_y_q_31"
        BEL "score/rand/M_y_q_30" BEL "score/rand/M_y_q_29" BEL
        "score/rand/M_y_q_28" BEL "score/rand/M_y_q_27" BEL
        "score/rand/M_y_q_26" BEL "score/rand/M_y_q_25" BEL
        "score/rand/M_y_q_24" BEL "score/rand/M_y_q_23" BEL
        "score/rand/M_y_q_22" BEL "score/rand/M_y_q_21" BEL
        "score/rand/M_y_q_20" BEL "score/rand/M_y_q_19" BEL
        "score/rand/M_y_q_18" BEL "score/rand/M_y_q_17" BEL
        "score/rand/M_y_q_16" BEL "score/rand/M_y_q_15" BEL
        "score/rand/M_y_q_14" BEL "score/rand/M_y_q_13" BEL
        "score/rand/M_y_q_12" BEL "score/rand/M_y_q_11" BEL
        "score/rand/M_y_q_10" BEL "score/rand/M_y_q_9" BEL
        "score/rand/M_y_q_8" BEL "score/rand/M_y_q_7" BEL "score/rand/M_y_q_6"
        BEL "score/rand/M_y_q_5" BEL "score/rand/M_y_q_4" BEL
        "score/rand/M_y_q_3" BEL "score/rand/M_y_q_2" BEL "score/rand/M_y_q_1"
        BEL "score/rand/M_y_q_0" BEL "score/rand/M_z_q_31" BEL
        "score/rand/M_z_q_30" BEL "score/rand/M_z_q_29" BEL
        "score/rand/M_z_q_28" BEL "score/rand/M_z_q_27" BEL
        "score/rand/M_z_q_26" BEL "score/rand/M_z_q_25" BEL
        "score/rand/M_z_q_24" BEL "score/rand/M_z_q_23" BEL
        "score/rand/M_z_q_22" BEL "score/rand/M_z_q_21" BEL
        "score/rand/M_z_q_20" BEL "score/rand/M_z_q_19" BEL
        "score/rand/M_z_q_18" BEL "score/rand/M_z_q_17" BEL
        "score/rand/M_z_q_16" BEL "score/rand/M_z_q_15" BEL
        "score/rand/M_z_q_14" BEL "score/rand/M_z_q_13" BEL
        "score/rand/M_z_q_12" BEL "score/rand/M_z_q_11" BEL
        "score/rand/M_z_q_10" BEL "score/rand/M_z_q_9" BEL
        "score/rand/M_z_q_8" BEL "score/rand/M_z_q_7" BEL "score/rand/M_z_q_6"
        BEL "score/rand/M_z_q_5" BEL "score/rand/M_z_q_4" BEL
        "score/rand/M_z_q_3" BEL "score/rand/M_z_q_2" BEL "score/rand/M_z_q_1"
        BEL "score/rand/M_z_q_0" BEL "score/rand/M_w_q_31" BEL
        "score/rand/M_w_q_30" BEL "score/rand/M_w_q_29" BEL
        "score/rand/M_w_q_28" BEL "score/rand/M_w_q_27" BEL
        "score/rand/M_w_q_26" BEL "score/rand/M_w_q_25" BEL
        "score/rand/M_w_q_24" BEL "score/rand/M_w_q_23" BEL
        "score/rand/M_w_q_22" BEL "score/rand/M_w_q_21" BEL
        "score/rand/M_w_q_20" BEL "score/rand/M_w_q_19" BEL
        "score/rand/M_w_q_18" BEL "score/rand/M_w_q_17" BEL
        "score/rand/M_w_q_16" BEL "score/rand/M_w_q_15" BEL
        "score/rand/M_w_q_14" BEL "score/rand/M_w_q_13" BEL
        "score/rand/M_w_q_12" BEL "score/rand/M_w_q_11" BEL
        "score/rand/M_w_q_10" BEL "score/rand/M_w_q_9" BEL
        "score/rand/M_w_q_8" BEL "score/rand/M_w_q_7" BEL "score/rand/M_w_q_6"
        BEL "score/rand/M_w_q_5" BEL "score/rand/M_w_q_4" BEL
        "score/rand/M_w_q_3" BEL "score/rand/M_w_q_2" BEL "score/rand/M_w_q_1"
        BEL "score/rand/M_w_q_0" BEL "score/rand/M_x_q_31" BEL
        "score/rand/M_x_q_30" BEL "score/rand/M_x_q_29" BEL
        "score/rand/M_x_q_28" BEL "score/rand/M_x_q_27" BEL
        "score/rand/M_x_q_26" BEL "score/rand/M_x_q_25" BEL
        "score/rand/M_x_q_24" BEL "score/rand/M_x_q_23" BEL
        "score/rand/M_x_q_22" BEL "score/rand/M_x_q_21" BEL
        "score/rand/M_x_q_20" BEL "score/rand/M_x_q_19" BEL
        "score/rand/M_x_q_18" BEL "score/rand/M_x_q_17" BEL
        "score/rand/M_x_q_16" BEL "score/rand/M_x_q_15" BEL
        "score/rand/M_x_q_14" BEL "score/rand/M_x_q_13" BEL
        "score/rand/M_x_q_12" BEL "score/rand/M_x_q_11" BEL
        "score/rand/M_x_q_10" BEL "score/rand/M_x_q_9" BEL
        "score/rand/M_x_q_8" BEL "score/rand/M_x_q_7" BEL "score/rand/M_x_q_6"
        BEL "score/rand/M_x_q_5" BEL "score/rand/M_x_q_4" BEL
        "score/rand/M_x_q_3" BEL "score/rand/M_x_q_2" BEL "score/rand/M_x_q_1"
        BEL "score/rand/M_x_q_0" BEL "score/countdown/M_ctr_q_28" BEL
        "score/countdown/M_ctr_q_27" BEL "score/countdown/M_ctr_q_26" BEL
        "score/countdown/M_ctr_q_25" BEL "score/countdown/M_ctr_q_24" BEL
        "score/countdown/M_ctr_q_23" BEL "score/countdown/M_ctr_q_22" BEL
        "score/countdown/M_ctr_q_21" BEL "score/countdown/M_ctr_q_20" BEL
        "score/countdown/M_ctr_q_19" BEL "score/countdown/M_ctr_q_18" BEL
        "score/countdown/M_ctr_q_17" BEL "score/countdown/M_ctr_q_16" BEL
        "score/countdown/M_ctr_q_15" BEL "score/countdown/M_ctr_q_14" BEL
        "score/countdown/M_ctr_q_13" BEL "score/countdown/M_ctr_q_12" BEL
        "score/countdown/M_ctr_q_11" BEL "score/countdown/M_ctr_q_10" BEL
        "score/countdown/M_ctr_q_9" BEL "score/countdown/M_ctr_q_8" BEL
        "score/countdown/M_ctr_q_7" BEL "score/countdown/M_ctr_q_6" BEL
        "score/countdown/M_ctr_q_5" BEL "score/countdown/M_ctr_q_4" BEL
        "score/countdown/M_ctr_q_3" BEL "score/countdown/M_ctr_q_2" BEL
        "score/countdown/M_ctr_q_1" BEL "score/countdown/M_ctr_q_0" BEL
        "score/ctr/M_ctr_q_0" BEL "score/ctr/M_ctr_q_1" BEL
        "score/ctr/M_ctr_q_2" BEL "score/ctr/M_ctr_q_3" BEL
        "score/ctr/M_ctr_q_4" BEL "score/ctr/M_ctr_q_5" BEL
        "score/ctr/M_ctr_q_6" BEL "score/ctr/M_ctr_q_7" BEL
        "score/ctr/M_ctr_q_8" BEL "score/ctr/M_ctr_q_9" BEL
        "score/ctr/M_ctr_q_10" BEL "score/ctr/M_ctr_q_11" BEL
        "score/ctr/M_ctr_q_12" BEL "score/ctr/M_ctr_q_13" BEL
        "score/ctr/M_ctr_q_14" BEL "score/ctr/M_ctr_q_15" BEL
        "score/ctr/M_ctr_q_16" BEL "score/ctr/M_ctr_q_17" BEL
        "score/ctr/M_ctr_q_18" BEL "score/ctr/M_ctr_q_19" BEL
        "score/ctr/M_ctr_q_20" BEL "score/ctr/M_ctr_q_21" BEL
        "score/ctr/M_ctr_q_22" BEL "score/ctr/M_ctr_q_23" BEL
        "score/ctr/M_ctr_q_24" BEL "score/ctr/M_ctr_q_25" BEL
        "score/ctr/M_ctr_q_26" BEL "score/ctr/M_ctr_q_27" BEL
        "score/ctr/M_ctr_q_28" BEL "score/ctr/M_ctr_q_29" BEL
        "score/ctr/M_ctr_q_30" BEL "score/ctr/M_ctr_q_31" BEL
        "score/ctr/M_ctr_q_32" BEL "M_start_q_0" PIN
        "Maddsub_M_p2_tens_q[9]_PWR_1_o_MuLt_13_OUT_pins<92>" BEL
        "M_buttonb1_q_0" BEL "bb1_e/M_last_q" BEL "by1_conditioner/M_ctr_q_0"
        BEL "by1_conditioner/M_ctr_q_1" BEL "by1_conditioner/M_ctr_q_2" BEL
        "by1_conditioner/M_ctr_q_3" BEL "by1_conditioner/M_ctr_q_4" BEL
        "by1_conditioner/M_ctr_q_5" BEL "by1_conditioner/M_ctr_q_6" BEL
        "by1_conditioner/M_ctr_q_7" BEL "by1_conditioner/M_ctr_q_8" BEL
        "by1_conditioner/M_ctr_q_9" BEL "by1_conditioner/M_ctr_q_10" BEL
        "by1_conditioner/M_ctr_q_11" BEL "by1_conditioner/M_ctr_q_12" BEL
        "by1_conditioner/M_ctr_q_13" BEL "by1_conditioner/M_ctr_q_14" BEL
        "by1_conditioner/M_ctr_q_15" BEL "by1_conditioner/M_ctr_q_16" BEL
        "by1_conditioner/M_ctr_q_17" BEL "by1_conditioner/M_ctr_q_18" BEL
        "by1_conditioner/M_ctr_q_19" BEL "by1_conditioner/sync/M_pipe_q_1" BEL
        "by1_conditioner/sync/Mshreg_M_pipe_q_1" BEL "bb2_e/M_last_q" BEL
        "by2_conditioner/M_ctr_q_0" BEL "by2_conditioner/M_ctr_q_1" BEL
        "by2_conditioner/M_ctr_q_2" BEL "by2_conditioner/M_ctr_q_3" BEL
        "by2_conditioner/M_ctr_q_4" BEL "by2_conditioner/M_ctr_q_5" BEL
        "by2_conditioner/M_ctr_q_6" BEL "by2_conditioner/M_ctr_q_7" BEL
        "by2_conditioner/M_ctr_q_8" BEL "by2_conditioner/M_ctr_q_9" BEL
        "by2_conditioner/M_ctr_q_10" BEL "by2_conditioner/M_ctr_q_11" BEL
        "by2_conditioner/M_ctr_q_12" BEL "by2_conditioner/M_ctr_q_13" BEL
        "by2_conditioner/M_ctr_q_14" BEL "by2_conditioner/M_ctr_q_15" BEL
        "by2_conditioner/M_ctr_q_16" BEL "by2_conditioner/M_ctr_q_17" BEL
        "by2_conditioner/M_ctr_q_18" BEL "by2_conditioner/M_ctr_q_19" BEL
        "by2_conditioner/sync/M_pipe_q_1" BEL
        "by2_conditioner/sync/Mshreg_M_pipe_q_1" BEL "M_p1_hundreds_q_0" BEL
        "M_p1_hundreds_q_1" BEL "M_p1_hundreds_q_2" BEL "M_p1_hundreds_q_3"
        BEL "M_p2_tens_q_0" BEL "M_p2_tens_q_1" BEL "M_p2_tens_q_2" BEL
        "M_p2_tens_q_3" BEL "M_scoretime_q_0" BEL "M_buttony2_q_0" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

